<% layout("layouts/boilerplate") %>

<form action="/<%= list._id %>?_method=patch" method="post">
    <input type="text" placeholder="write your title" name="listing[title]" value="<%= list.title %>"/>
    <br><br>

    <textarea placeholder="write your description" name="listing[description]"><%= list.description %></textarea>
    <br><br>

    <input type="number" placeholder="price" name="listing[price]" value="<%= list.price %>"/>
    <br><br>

    <input type="text" placeholder="write your country" name="listing[country]" value="<%= list.country %>"/>
    <br><br>

    <input type="text" placeholder="write your location" name="listing[location]" value="<%= list.location %>"/>
    <br><br>

    <button>edit</button>
</form>
