<%layout("layouts/boilerplate") %>
   <div class="types-wrapper">
     
    <button class="scroll-btn left">&#10094;</button>
   &nbsp; &nbsp;
    <div class="types">
        <div class="types-inner d-flex gap-4 align-items-center" style="padding: 2rem;">

            <a href="/index/icon/trending" 
               class="item text-center <%= currentCategory === 'trending' ? 'active' : '' %>" 
               data-category="trending">
                <i class="fa-solid fa-fire" style="font-size: larger;"></i>
                <div>Trending</div>
            </a>

            <a href="/index/icon/all" 
               class="item text-center <%= currentCategory === 'all' ? 'active' : '' %>" 
               data-category="all">
                <i class="fa-solid fa-building-columns" style="font-size: larger;"></i>
                <div>All</div>
            </a>

            <a href="/index/icon/lake" 
               class="item text-center <%= currentCategory === 'lake' ? 'active' : '' %>" 
               data-category="lake">
                <i class="fa-solid fa-bridge" style="font-size: larger;"></i>
                <div>Lake</div>
            </a>

            <a href="/index/icon/design" 
               class="item text-center <%= currentCategory === 'design' ? 'active' : '' %>" 
               data-category="design">
                <i class="fa-regular fa-building" style="font-size: larger;"></i>
                <div>Design</div>
            </a>

            <a href="/index/icon/desert" 
               class="item text-center <%= currentCategory === 'desert' ? 'active' : '' %>" 
               data-category="desert">
                <i class="fa-solid fa-temperature-arrow-up" style="font-size: larger;"></i>
                <div>Desert</div>
            </a>

            <a href="/index/icon/view" 
               class="item text-center <%= currentCategory === 'view' ? 'active' : '' %>" 
               data-category="view">
                <i class="fa-solid fa-person-through-window" style="font-size: larger;"></i>
                <div>View</div>
            </a>

            <a href="/index/icon/historic" 
               class="item text-center <%= currentCategory === 'historic' ? 'active' : '' %>" 
               data-category="historic">
                <i class="fa-solid fa-house-flag" style="font-size: larger;"></i>
                <div>Historic</div>
            </a>

            <a href="/index/icon/pool" 
               class="item text-center <%= currentCategory === 'pool' ? 'active' : '' %>" 
               data-category="pool">
                <i class="fa-solid fa-person-swimming" style="font-size: larger;"></i>
                <div>Pool</div>
            </a>

            <a href="/index/icon/mountain" 
               class="item text-center <%= currentCategory === 'mountain' ? 'active' : '' %>" 
               data-category="mountain">
                <i class="fa-solid fa-mountain" style="font-size: larger;"></i>
                <div>Mountain</div>
            </a>

            <a href="/index/icon/forest" 
               class="item text-center <%= currentCategory === 'forest' ? 'active' : '' %>" 
               data-category="forest">
                <i class="fa-solid fa-tree" style="font-size: larger;"></i>
                <div>Forest</div>
            </a>

            <a href="/index/icon/beach" 
               class="item text-center <%= currentCategory === 'beach' ? 'active' : '' %>" 
               data-category="beach">
                <i class="fa-solid fa-water" style="font-size: larger;"></i>
                <div>Beach</div>
            </a>

            <a href="/index/icon/snow" 
               class="item text-center <%= currentCategory === 'snow' ? 'active' : '' %>" 
               data-category="snow">
                <i class="fa-solid fa-snowflake" style="font-size: larger;"></i>
                <div>Snow</div>
            </a>

            <a href="/index/icon/camping" 
               class="item text-center <%= currentCategory === 'camping' ? 'active' : '' %>" 
               data-category="camping">
                <i class="fa-solid fa-campground" style="font-size: larger;"></i>
                <div>Camping</div>
            </a>

            <a href="/index/icon/city" 
               class="item text-center <%= currentCategory === 'city' ? 'active' : '' %>" 
               data-category="city">
                <i class="fa-solid fa-city" style="font-size: larger;"></i>
                <div>City</div>
            </a>

        </div>
         
    </div>
    &nbsp; &nbsp;
    <button class="scroll-btn right">&#10095;</button>
</div>
    
    
    <br>
    
        <div class="row justify-content-evenly g-4">
            <% for(list of lists){ %>
                <div class=" col-auto ">
                    <a href="/index/<%= list._id%>" class="card-link-individual" > 
                        <div class="card h-100 " style="width: 18rem;">
                            <div class="image-cards h-100">
                            <% if(list.image.url){%>
                                    <img src="<%=list.image.url%>" class="card-img-top" alt="..."> 
                                <%}else{%>
                                    <div class="card-img-placeholder bg-light"></div> 
                            <% }%>
                                
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <p><b><%=list.title %></b></p>
                                    <p>&#8377;<%=list.price.toLocaleString("en-IN")%>/night</p>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
            <br><br>
        <% } %>
        </div>
       <script src="/js/slider.js"></script>
