      <%layout("layouts/boilerplate")%>
    <h2>Listing details </h2>
    <ul>
        <li><%=list.title %></li>
        <li><%=list.description %></li>
        <li>&#8377;<%=list.price.toLocaleString("en-IN")%></li>
        <li><%=list.country %></li>
        <li><%=list.location %></li>
        <br>
        <li>
            <form action="/edit/<%=list._id %>" method="get">
                <button>edit</button>
            </form>
            <br><br>
            <li>
                <form action="/<%=list._id %>?_method=delete" method="post">
                    <button>delete</button>
                </form>
            </li>
        </li>
    </ul>
    
