      <%layout("layouts/boilerplate")%>
      
      <div class="individual-data offset-4">
        <h1>Listing details</h1>
         <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="<%=list.image.url%>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%=list.title%></h5>
            <p class="card-text"><%=list.description%></p>
            <p class="card-text">&#8377;<%=list.price.toLocaleString("en-IN")%></p>
            <p class="card-text"><%=list.country %></p>
             <p class="card-text"><%=list.location %></p>
             <br>
             <div class="btns-edit-delete ">
                <form action="/edit/<%=list._id %>" class="btns-edit" method="get">
                    <button>Edit</button>
                </form>
                <form action="/<%=list._id %>?_method=delete" class="btns-delete" method="post">
                    <button>Delete</button>
                </form>
             </div>
            
        </div>
        </div>
      </div>

     
    
    
